@model GFDSystems.Vigitech.DAL.Models.AppUser
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title></title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    </head>
    <body style="margin: 0; padding: 0;">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="text-align: center;">
                    <img src="https://drive.google.com/uc?export=view&id=1KQBtXx8fVQHzRR0cwNaHU4zECUELHAl2" alt="Cuautlancingo">
                </td>
                <td style="width: 80%; ">
                    <span style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 25px; margin-left: 30px;">Boton de panico del municipio de Cuautlancingo</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 3px; background: #711910;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <br>
                    <br>
                    <span style="font-size: 17px; margin-left: 50px;"><strong>Bienvenido:</strong> @Model.UserName </span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <tr>
                            <td style="padding: 10px 50px 10px 50px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: justify; width: 90%;">
                                <p>
                                    Vigitech" brinda un servicio a través del cual podrás monitoriar y gestionar un reporte de alguna situacíon de emergencia. Minimiza el tiempo de respuesta, ya que de manera automatizada obtiene la ubicación y el nombre utilizando
                                    la información proporcionada durante el registro del ciudadano.
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 10px 50px 10px 50px;">
                        Para continuar con su registro es importante que inicie sesión dentro de la aplicacion de monitoreo con las claves de acceso que se proporcionan en la parte de abajo para
                        poder completar informacion y podra cambiar su contraseña
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <label style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 22px;">Usuario: OP001</label><br>
                    <label style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 22px;">Contraseña: xCF123</label>
                </td>
            </tr>
        </table>
        <footer style="background: #711910; position: absolute; bottom: 0; width: 100%; height: 40px; color: white;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 70%; text-align: center;"></td>
                    <td style="width: 30%; text-align: right; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 12px; position: relative; bottom: 8px;">
                        Powered By
                        <img src="https://drive.google.com/uc?export=view&id=1BtJ6IOZ7WAjB18tQxwwkaxAtOO80HDom" width="100" height="30" alt="Vigitech Logo" style="position: relative; top: 8px;">
                    </td>
                </tr>
            </table>
        </footer>
    </body>
</html>